/* html,
body {
  height: 100%;
  margin: 0;
  font-family: "lato", sans-serif;
  font-weight: 400%;
} */
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.img1 {
  background-image: url(images/image1.png);
  min-height: 100%;
}
.img2 {
  background-image: url(images/image2.png);
  min-height: 100%;
}
.img3 {
  background-image: url(images/image3.png);
  min-height: 100%;
}
.img1,
.img2,
.img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.head1, .head2, .head3 {        /* head=div tags*/
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.text1, .text2, .text3 {
  text-transform: capitalize;
  color: white;
  font-size: 58px;
  background-color: rgb(57, 56, 56);
  letter-spacing: 5px;
  border-color: #000;
}

.section {
  padding: 50px 80px;
  text-align: center;
}
.sec-two{
  background-color: #666;
  color: white;
}

.text2{
  font-size: 44px;
  color: white;
  background-color: red;
}


